<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-list>
<ion-list-header color="tertiary">
<ion-label>Random Users List</ion-label>
</ion-list-header>
<ion-item *ngFor="let x of usersList;let i=index" >
 <ion-avatar >
 <img [src]="x.picture.large">
</ion-avatar>
<ion-label>
<h3>{{x.name.title}}. {{x.name.first}}</h3>
<p>{{x.email}}</p>
<p>{{x.registered.date}}</p>
</ion-label>
</ion-item>
</ion-list>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
